.navbar {
  height: 50px;
  background-color: #9370DB;
  display: flex;
  justify-content: center;
}

.navContainer {
  width: 100%;
  max-width: 1024px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: 500;
  border:  #9370DB;
  border-radius: 3px;
}

.logoImage {
  height: 100%;
  max-height: 50px;
  width: auto;
  margin-right: 10px;
  object-fit: contain;
  transform: scale(2);
  transform-origin: center;
}


.navButton {
  margin-left: 20px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  color: #6f42c1;
}
